apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  namespace: app
  labels: 
    app: fastapi-app
spec:
  type: ClusterIP
  selector:
    app: fastapi-app
  ports:
    - name: http
      port: 80
      targetPort: 8000

