name: Trivy Security Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  trivy-fs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy Filesystem Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: 1

  trivy-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t eks-app:ci ./app

      - name: Run Trivy Image Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: eks-app:ci
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: 1
